.button {
  color: red;
  padding: 60px 60px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  border-radius: 4px;
  cursor: pointer;
  width: 700px;
  
}

.primary {background-color: #008CBA;} /* Blue */
.secondary {background-color: #e7e7e7; color: black;} /* Gray */
.success {background-color: #4CAF50;} /* Green */
.danger {background-color: #f44336;} /* Red */
